.faq-cont {
  display: flex;
  flex-direction: column;
  height: 45rem;
  align-items: center;
  gap: 2rem;
}
.faq-second-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.faq-img-cont {
  width: 40%;
  height: 24rem;
}
.faq-img-cont img {
  width: 100%;
}
.faq-tag {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: rgba(42, 167, 255, 1);
  padding-top: 3rem;
}
.faq-heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  color: rgba(27, 60, 116, 1);
}
.faq-list-cont ul {
  list-style: none;
}
.faq-list {
  padding-bottom: 3rem;
  font-size: 18px;
  font-weight: 600;
  color: rgba(27, 60, 116, 1);
}
.faq-list span {
  padding-left: 60px;
}
@media (max-width: 900px) {
  .faq-second-cont {
    flex-direction: column;
    width: 80vw;
    gap: 2rem;
  }
  .faq-tag {
    font-size: 15px;
    font-weight: 550;
    line-height: 18px;
    padding-top: 3rem;
  }
  .faq-list {
    padding-bottom: 1rem;
    font-size: 17px;
    font-weight: 500;
    color: rgba(27, 60, 116, 1);
  }
  .faq-img-cont {
    width: 90%;
    height: 24rem;
  }
  .faq-img-cont img {
    width: 100%;
    height: 100%;
  }
  .faq-cont {
    height: 50rem;
    gap: 1rem;
    text-align: center;
  }
  .faq-heading {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
  }
  .faq-second-cont {
    flex-direction: column;
    width: 94vw;
    gap: 0.5rem;
  }
}
@media (max-width: 550px) {
  .faq-list {
    font-size: 14px;
    font-weight: 450;
  }
  .faq-list-cont ul {
    width: 90vw;
    font-size: 16px;
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
  }
  .faq-second-cont {
    flex-direction: column;
    width: 90vw;
    gap: 0.5rem;
  }
}
