.search-hospital-container {
  /* position: absolute; */
  /* top: 50px; */
  /* left: 9vw; */
  text-align: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  /* box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11); */
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 20px; */
  flex-direction: row;
  gap: 20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: 150px;
  font-size: 14px;
}

.search-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10%;
}

.select-state {
  width: 100%;
}

.select-city {
  width: 100%;
}
.search-bar-ele {
  width: 30vw !important;
}
@media (max-width: 900px) {
  .search-bar {
    flex-direction: column;
  }
  .search-bar-ele {
    width: 55vw !important;
  }
  .search-button {
    width: 55vw;
  }
}
