.card-specialition {
  height: auto;
  width: 240px;
  box-shadow: 0px 34px 44px 0px rgba(213, 219, 228, 0.44);
  border-radius: 10px;
  background-color: white;
}
.card-specialition-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.specialition-container {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
.icons {
  font-size: 80px;
  color: rgba(42, 167, 255, 1);
}
.card-specialition div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.specialition-container-heading {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
